.end {
    position: absolute;
    height: 300px;
    width: 2000px;
    top: 430%;
    left: -1%;
    background-color: rgb(255, 255, 255);
    z-index: 25;
}

.end h4 {
    position: absolute;
    color: rgb(0, 0, 0);
    font-family: 'Spartan';
}

.end .img1 .gmail {
    position: absolute;
    width: 6%;
    left: 45%;
    top: 40%;
    transition: 0.5s;
    transform: translate3d(-50%, -50%, 0px);
}

.end .img1 .gmailid {
    font-size: 15px;
    position: absolute;
    top: 40%;
    width: 6%;
    left: 45%;
    visibility: hidden;
    transition: 0.2s;
}

.end .img1:hover .gmailid {
    visibility: visible;
}

.end .img1:hover .gmail {
    width: 8%;
}

.end .img2 .lkin {
    position: absolute;
    width: 5%;
    left: 57%;
    top: 40%;
    transition: 0.5s;
    transform: translate3d(-50%, -50%, 0px);
}

.end .img2 .link2 {
    color: black;
    font-family: 'Spartan';
    font-size: 15px;
    position: absolute;
    top: 55%;
    left: 53%;
    visibility: hidden;
    transition: 0.2s;
}

.end .img2:hover .link {
    visibility: visible;
}

.end .img2:hover .lkin {
    width: 7%;
}

.end .img3 .ig {
    position: absolute;
    width: 7%;
    left: 67%;
    top: 42%;
    transition: 0.5s;
    transform: translate3d(-50%, -50%, 0px);
}

.end .img3 .iglink {
    color: rgb(3, 0, 0);
    font-family: 'Spartan';
    font-size: 15px;
    position: absolute;
    top: 42%;
    left: 67%;
    visibility: hidden;
    transition: 0.2s;
}

.end .img3:hover .iglink {
    visibility: visible;
}

.end .img3:hover .ig {
    width: 9%;
}

.end .me {
    position: absolute;
    top: 330%;
    left: 110%;
    width: 14%;
}